* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Titillium Web', sans-serif;
        font-size: 62.5%;
}

body {
        margin: 0 auto;
}

main {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 144rem;
        height: 90rem;

}

.logo {
        margin-left: 11.2rem;
        padding-top: 4rem;
}

img {
        max-width: 100%;
}

.container {
        margin-left: 11.2rem;
        padding-top: 11.2rem;
        width: 38.4rem;
        height: 48.3rem;
}

.container .title {
        width: 35.1rem;
}

.container .title h1 {
        font-size: 3.6rem;
}

.container .title h2 {
        color: #475569;
        font-size: 1.6rem;
        font-weight: 400;
}

.container .form {
        margin-top: 4rem;
}

.form h2 {
        font-size: 1.4rem;
        font-weight: 600;
}

#inputEmail,
#inputPassword {
        font-size: 1.4rem;
        width: 38.3rem;
        padding: 1.6rem 0 1.6rem 1.2rem;
}

#inputEmail {
        margin-top: 0.8rem;
}

.password {
        display: flex;
        justify-content: space-between;
        margin: 1.6rem 0 0.8rem 0;
}

#bntEnter {
        color: #FFFFFF;
        background: #7C3AED;
        border: 0.2rem solid #7C3AED;
        border-radius: 0.4rem;
        font-size: 1.6rem;
        font-weight: bold;
        padding: 1.6rem 16.1rem;
        margin-top: 3.2rem;
}

#bntEnter:hover {
        background: #7C3AED;
        border: 0.2rem solid #5311c4;
        opacity: .9;
}

#sign-up {
        color: #475569;
        margin-top: 3.2rem;
        font-weight: 400;
}

.container .form a {
        color: #7C3AED;
        font-size: 1.6rem;
        font-weight: bold;
}

.bg {
        background: url(/assets/bg.jpg) no-repeat;
        max-width: 100%;

}


@media (max-width: 780px) {

        main {
                grid-template-columns: 1fr;
                max-width: 50rem;
        }

        .logo,
        .container {
                width: 38.4rem;
                margin: 0 auto;
        }

        .bg {
                background: none;
        }

}