* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Titillium Web', sans-serif;
        font-size: 62.5%;
}

body {
        margin: auto;
        width: 144rem;
}

main {
        margin: auto;
        display: grid;
        justify-content: center;

        grid-template-columns: repeat(2, 1fr);       
        height: 90rem;

}

.logo {
        margin: 4rem 0 0 11.2rem;
}

.container {
        margin: 11.2rem 0 0 11.2rem;
        width: 38.4rem;
        height: 48.3rem;
}

.container .title {
        width: 35.1rem;
}

.container .title h1 {
        font-size: 3.6rem;
}

.container .title h2 {
        color: #475569;
        font-size: 1.6rem;
        font-weight: 400;
}

.container .form {
        margin-top: 4rem;
}

.form h2 {
        font-size: 1.4rem;
        font-weight: 600;
}

#inputEmail,
#inputPassword {
        font-size: 1.4rem;
        width: 38.3rem;
        padding: 1.6rem 0 1.6rem 1.2rem;
}

#inputEmail {
        margin-top: 0.8rem;
}

.password {
        display: flex;
        justify-content: space-between;
        margin: 1.6rem 0 0.8rem 0;
}

#bntEnter {
        color: #FFFFFF;
        background: #7C3AED;
        border: 0.2rem solid #7C3AED;
        border-radius: 0.4rem;
        font-size: 1.6rem;
        font-weight: bold;
        padding: 1.6rem 16.1rem;
        margin-top: 3.2rem;
}

#bntEnter:hover {
        background: #7C3AED;
        border: 0.2rem solid #5311c4;
        opacity: .9;
}

#sign-up {
        color: #475569;
        margin-top: 3.2rem;
        font-weight: 400;
}

.container .form a {
        color: #7C3AED;
        font-size: 1.6rem;
        font-weight: bold;
}

.bg {
        background: url(/assets/bg.jpg) no-repeat;
}

@media (max-width: 720px) {

        body {
                margin: 0 auto;
        }

.container {
        grid-area: 1/3;
}

        /* .temperature-now {
          grid-row: 1/3;
        }
      
        .week-weather {
          grid-column: 2/4;
        } */

}